<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}"
	xmlns:an="http://www.anthonini.com.br">

<body>
	<th:block layout:fragment="conteudo">
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Usuário</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a th:href="@{/usuario}">Usuário</a></li>
							<li class="breadcrumb-item"><a href="#!">Edição</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main-body">
			<div class="page-wrapper">
				<!-- [ Main Content ] start -->
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-header ">
								<div class="row">
									<div class="col-7">
										<h5>Usuário</h5>
									</div>
								</div>
							</div>
					        <div class="card-block">
					        	<form method="POST" th:action="@{/usuario/{id}(id=${usuario.id})}" th:object="${usuario}">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="form-label">Nome</label>
												<input type="text" class="form-control" placeholder="Nome" th:field="*{pessoa.nome}">
											</div>
											
											<div class="form-group">
												<label class="form-label">CPF</label>
												<input type="text" class="form-control js-cpf" placeholder="CPF" th:field="*{pessoa.cpf}">
											</div>
											
											<div class="form-group">
												<label class="form-label">E-mail</label>
												<input type="text" class="form-control" placeholder="E-mail" th:field="*{email}">
											</div>
											
											<div class="form-group">
												<label class="form-label">Tema</label>
												<select class="form-control" th:field="*{tema}">
													<option th:value="${tema}" th:text="${tema}" th:each="tema : ${temas}">
						                        </select>
											</div>
											
											<div class="form-group form-check">
												<input type="checkbox" class="form-check-input form-control-lg" th:field="*{ativo}" th:id="ativo" style="height: 25px; width: 30px;">
												<label th:for="ativo" style="margin-left: 1em;padding-top: 0.5em;">Ativo</label>
											</div>
										</div>
										<div class="col-md-6">
						        			<div class="form-group">
												<label class="form-label">Grupos de Usuário</label>
												<div class="form-group" th:each="grupo : ${grupos}">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" th:value="${grupo.id}" th:field="*{grupos}">
														<label class="form-check-label" th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Nome do Grupo</label>
													</div>
												</div>
											</div>
						        		</div>
						        	</div>
						        	
						        	<h5>Alteração de senha</h5>
									<hr>
											
						        	<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="form-label">Senha</label>
												<input type="password" class="form-control" placeholder="Senha" th:field="*{senha}">
											</div>
										</div>
										<div class="col-md-6">	
											<div class="form-group">
												<label class="form-label">Confirmação da senha</label>
												<input type="password" class="form-control" placeholder="Confirmação da Senha" th:field="*{confirmacaoSenha}">
											</div>
										</div>
									</div>
						        	
						        	<button class="btn btn-outline-primary" type="submit">Alterar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
							
				<!-- [ Main Content ] end -->
			</div>
		</div>
	</th:block>
</body>
</html>