<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- [ navigation menu ] start -->
<nav th:class="${#authentication.principal.usuario.tema.navbarClass}" th:fragment="navigationMenu">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a th:href="@{/}" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title" th:text="#{nome}">Nome da Aplicação</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
            	<th:block th:replace="~{layout/fragments/menu/secoes-menu/administracao :: administracao}"/>
            	<th:block th:replace="~{layout/fragments/menu/secoes-menu/professor :: professor}"/>            	
                <th:block th:replace="~{layout/fragments/menu/secoes-menu/acompanhamento :: acompanhamento}"/>                
                <th:block th:replace="~{layout/fragments/menu/secoes-menu/cadastros :: cadastros}"/>                
                <th:block th:replace="~{layout/fragments/menu/secoes-menu/estudos :: estudos}"/>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
</html>